

<!-- this is a sample default list template -->]
<div class="py-8 row">
    <div class="col-sm-1">
        <img src="{{ doc.image }}" alt="{{ doc.name }}">
    </div>
    <div class="col">
        <a class="font-size-lg" href="{{ doc.route }}">{{ doc.name }}</a>
        <p class="text-muted">By {{ doc.author_name}}</p>
    </div>
</div>

